html,body{
    height: 60%;

}
html{
    background: darkgray;
    display: table;
    margin: auto;

}
body {
    padding-top: 70px;
    display: table-cell;
    vertical-align: middle;
    /*background: -webkit-gradient(linear,left top, left bottom, color-stop(0.25,whitesmoke),color-stop(0.65,rgb(226,217,185))));
    background: -moz-linear-gradient(center top,whitesmoke 25%,rgb(226,217,185) 65%));
*/
}
nav{
    height: 90px;

}

@media (max-width: 600px) {
    body {
        padding-top: 0px;
    }
}
.home_heading{
    background-color: khaki;
    padding: 2px;
    margin-bottom: 10px;

}

.navbar-inverse .navbar-toggle {
    color: white;
    font-weight: bold;
    border-color: white;
}
.navbar-inverse .navbar-toggle:hover {
    background-color: #ddd;
    color: #333;
}
.navbar-inverse .navbar-toggle .glyphicon {
    color: white;
}
.navbar-inverse .navbar-toggle:hover .glyphicon {
    color: red;
}
footer { font-size: .85em;
    color: #9ba0bd;
    background-color: black;
    padding: 20px;
    text-align: left;
    line-height: 100%;

}