html,body{
    height: 60%;

}
html{
    background: darkgray;
    display: table;
    margin: auto;

}
body {
    padding-top: 60px;
    display: table-cell;
    vertical-align: middle;
    /*background: -webkit-gradient(linear,left top, left bottom, color-stop(0.25,whitesmoke),color-stop(0.65,rgb(226,217,185))));
    background: -moz-linear-gradient(center top,whitesmoke 25%,rgb(226,217,185) 65%));
*/
}
header{
    height: 90px;
}
@media (max-width: 600px) {
    body {
        padding-top: 0px;
    }
}
.home_heading{
    padding-top: 5px;

}
footer { font-size: .85em;
    color: #9ba0bd;
    background-color:
    black;padding: 20px;
    text-align: left;
    line-height: 100%;

}